div {
  border: 3px solid black;
  background-color: #ffb8c6;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  position: relative;
}

input {
  display: inline-block;
  vertical-align: middle;
  align-content: left;
  font-family: "Times New Roman";
  font-size: 25px;
  height: 25px;
}

.hideButton {
  position: absolute;
  right: 10px;
  top: 18px;
  text-align: left;
  height: 31px;
}

.addButton {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  height: 31px;
}

.color {
  color: red;
}
